mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, altName)
  img(src=require(`images/${path}`) alt=altName class=className)

mixin nav()
  - 
    var links = [
      {
         href:"hero", 
         text:"Главная"
      },
      {
        href:"about",
        text:"Обо мне"
      },
      {
        href:"userful", 
        text:"Навыки"
      },
      {
        href:"works", 
        text:"Работы"
      },
      {
        href:"comments", 
        text:"Отзывы"
      },
      {
        href:"contacts", 
        text:'Связаться'
      },
    ]
  nav.menu
    ul.menu__list
      each item in links
        li.menu__item
          a(href=`#${item.href}`).menu__link=item.text